<ion-content padding>
  <h2>Por favor, autentique-se</h2>
  <form (submit)="doLogin()">
    <ion-item>
      <ion-label stacked>Email</ion-label>
      <ion-input [(ngModel)]="loginData.email" name="email" type="text" placeholder="Email" ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked>Senha</ion-label>
      <ion-input [(ngModel)]="loginData.password" name="password" type="password" placeholder="Password"></ion-input>
    </ion-item>
    <button ion-button block type="submit">
      Entrar
    </button>
  </form>
<!--
  <button ion-button block clear (click)="register()">
    No have an account? Register Now
  </button> -->
</ion-content>
