<!--
  Generated template for the ResultPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Resultado</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-card>
    <img [src]="studyField.image_url"/>
    <ion-card-content>
      <ion-card-title>
        {{studyField.name}}
      </ion-card-title>
      <p>
        A área mais compatível com suas respostas é {{studyField.name}}. Aqui teremos uma descrição sobre a área.
      </p>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-content>
      <ion-card-title>
        Cursos Relacionados
      </ion-card-title>
      <ion-list>
        <ion-item *ngFor="let course of studyField.courses">{{course.name}}</ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

</ion-content>
