<ion-header>
  <ion-navbar>
    <ion-title>
      Vocacional
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="form" (ngSubmit)="submit()">
    <ion-slides>
      <ion-slide *ngFor="let category of categories;">
        <div>
          <h1>{{category}}</h1>
          <ion-item formArrayName="answers" *ngFor="let answer_with_id of grouped_answers[category]; let j = index">
            <ion-label>{{answer_with_id.answer.text}}</ion-label>
            <ion-checkbox [formControlName]="answer_with_id.id"></ion-checkbox>
          </ion-item>
        </div>
      </ion-slide>
    </ion-slides>

    <!-- </ion-item-group> -->

    <ion-row [hidden]="!slides.isEnd()">
      <ion-col s12 class="logo-col">
        <button ion-button full icon-left class="btn-login">
          <ion-icon name="log-in"></ion-icon>
          Enviar
        </button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>
